<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>Servlets.MainServlet</servlet-class>
    </servlet>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Servlets.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>TenderServlet</servlet-name>
        <servlet-class>Servlets.TenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTendersServlet</servlet-name>
        <servlet-class>Servlets.MyTendersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>Servlets.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>Servlets.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openServlet</servlet-name>
        <servlet-class>Servlets.openServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stopServlet</servlet-name>
        <servlet-class>Servlets.stopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropServlet</servlet-name>
        <servlet-class>Servlets.PropServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>navigatorServlet</servlet-name>
        <servlet-class>Servlets.navigatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TenderServlet</servlet-name>
        <url-pattern>/TenderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTendersServlet</servlet-name>
        <url-pattern>/MyTendersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openServlet</servlet-name>
        <url-pattern>/openServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stopServlet</servlet-name>
        <url-pattern>/stopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropServlet</servlet-name>
        <url-pattern>/PropServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>navigatorServlet</servlet-name>
        <url-pattern>/navigatorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            MainPage.jsp
        </welcome-file>
        <welcome-fole/>
    </welcome-file-list>
</web-app>
